.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.log
config.status
configure
libtool
libykpers-1.la
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tests/Makefile
tests/Makefile.in
tests/selftest
tests/selftest.o
tmp/
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
